@charset "UTF-8";
body {
    background-color: #ffe6f0; 
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* Hides horizontal scroll */
}

.profile-box {
    background-color: #fff0f5; 
    color: #333;
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d48cb3; 
}

.profile-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #d63384; 
}

.profile-box input[type="text"],
.profile-box input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #d48cb3;
    border-radius: 5px;
    background-color: #fff;
}

.profile-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #d63384; 
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-box input[type="submit"]:hover {
    background-color: #bf2c76;
}
